{% extends "base.html" %}

{% block content %}

<div class="card-deck" style="padding-top: 10px;">
    
    {% for o in organizations %}
    <div class="card bg-light mb-3">
        <div class="card-body">
        <h5 class="card-header mb-3">Organization: {{ o.name }}</h5>
        <form method = "post" action = "/organizations">
            <a href=coursePage > <button type = "submit" name = "courseReroute" value = c.id class="btn btn-primary" input=.id> See Details </button></a>
        </form>
    
        </div>
    </div>
    {% endfor %}
    
</div>




{% endblock %}